.git
.gitignore

# Astro
node_modules
dist
.astro

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE / OS
.vscode
.idea
*.swp
*.swo
.DS_Store

# Docs
README.md
DEPLOY.md
*.md

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
