evoxide.com {
    root * /usr/share/caddy
    file_server
    try_files {path} {path}/ /index.html

    encode gzip

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

evoxide.ru {
    redir https://evoxide.com{uri} permanent
}
